{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

{% if miFormulario.errors %}
    
    <p style="color: red;">Están mal los datos, revisar</p>
        
    {% endif %}
        
    <form action="" method="POST">{% csrf_token %}
        <!-- <p>Curso: <input type="text" name="curso"></p>
        <p>Camada: <input type="number" name="camada"></p> -->
        <table>
            {{miFormulario.as_table}}
        </table>
        <input type="submit" value="Enviar">
    </form>

{% endblock %}